<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    <!-- RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f -->
    RewriteCond %{QUERY_STRING} !=""
    RewriteRule ^/(.*) /$1\%3F%{QUERY_STRING}? [noescape,last,redirect]
</IfModule>