<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /$1 [QSA,NC,PT,L]
    RewriteRule ^perros/([0-9]+)[/]?([^.]+)$ confirm?post_id=$1&$2&%{QUERY_STRING} [NC,L]
</IfModule>
